.Rhistory
code/.Rhistory
.DS_Store
code/.DS_Store
figs/.DS_Store
output/.DS_Store
.Rproj.user
.RData


# Office Temporal Files
*.tmp
# Word temporary
~$*.doc*
# Word Auto Backup File
Backup of *.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*